*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #e7e8e9;
}
h1{
    text-align: center;
}
.card{
    margin: 0 auto;
    width: 350px;
    text-align: center;
    margin-top: 10px;
    /* box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* box-shadow: #cccccc; */
    transition: 0.3s;
    font-size: 0;
}
.card:hover{
}
.cal__head input{
    width: 335px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding: 0px 5px ;
    letter-spacing: 2px;
}
.btn {
      
    width: 85px;
    height:70px;
    font-size: 32px;
    color: black;
    background-color: #e7e8e9;
    box-shadow: 6px 6px 6px #ccc,
                 -6px -6px -6px #fafafa;
    margin:1px;
}
.btn__color{
    background-color: blueviolet;
}